In [1]:
import yfinance as yf

data = yf.download("IBM", interval="1d", period="5y", auto_adjust=False)
data

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,IBM,IBM,IBM,IBM,IBM,IBM
Date,,,,,,
2020-06-29,91.677773,114.483749,114.512428,112.208412,112.791588,4350837
2020-06-30,92.458649,115.458893,115.869980,113.766731,113.948372,4099797
2020-07-01,90.751419,113.326958,115.898659,113.164436,114.980881,4869967
2020-07-02,91.639481,114.435944,116.080307,114.015297,114.426384,3919362
2020-07-06,92.014618,114.904396,116.491394,114.206497,115.917786,4231488
...,...,...,...,...,...,...
2025-06-23,289.179993,289.179993,289.579987,280.209991,281.649994,3786200
2025-06-24,293.790009,293.790009,294.339996,288.410004,290.459991,4219100
2025-06-25,291.059998,291.059998,296.160004,289.500000,294.489990,3862300
2025-06-26,291.929993,291.929993,292.910004,290.170013,291.799988,3621100
2025-06-27,289.700012,289.700012,293.119995,288.519989,292.970001,3560800

In [2]:
import pandas as pd

# If 'Date' is the index, reset it
data = data.reset_index()

# Rename columns (remove multi-level if exists, or rename directly)
data.columns = ['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']

# Reorder columns to match your desired format
data = data[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-06-29,112.791588,114.512428,112.208412,114.483749,91.677773,4350837
1,2020-06-30,113.948372,115.869980,113.766731,115.458893,92.458649,4099797
2,2020-07-01,114.980881,115.898659,113.164436,113.326958,90.751419,4869967
3,2020-07-02,114.426384,116.080307,114.015297,114.435944,91.639481,3919362
4,2020-07-06,115.917786,116.491394,114.206497,114.904396,92.014618,4231488
...,...,...,...,...,...,...,...
1251,2025-06-23,281.649994,289.579987,280.209991,289.179993,289.179993,3786200
1252,2025-06-24,290.459991,294.339996,288.410004,293.790009,293.790009,4219100
1253,2025-06-25,294.489990,296.160004,289.500000,291.059998,291.059998,3862300
1254,2025-06-26,291.799988,292.910004,290.170013,291.929993,291.929993,3621100
1255,2025-06-27,292.970001,293.119995,288.519989,289.700012,289.700012,3560800

In [ ]:
from datetime import timedelta

# Sort by date to ensure chronological order
data = data.sort_values(by='Date').reset_index(drop=True)

# Create a rolling 1-year window and calculate max profit within each window
one_year = timedelta(days=365)
max_yearly_profit = 0
best_start_date = best_end_date = None

for i in range(len(data)):
    start_date = data.loc[i, 'Date']
    end_limit = start_date + one_year
    window_df = data[(data['Date'] >= start_date) & (data['Date'] <= end_limit)].reset_index(drop=True)

    min_price = float('inf')
    max_profit = 0
    for j in range(len(window_df)):
        price = window_df.loc[j, 'Adj Close']
        date = window_df.loc[j, 'Date']
        if price < min_price:
            min_price = price
        else:
            profit = price - min_price
            if profit > max_profit:
                max_profit = profit

    if max_profit > max_yearly_profit:
        max_yearly_profit = max_profit
        best_start_date = start_date    
        best_end_date = end_limit

print(best_start_date, best_end_date, round(max_yearly_profit, 2))

2024-06-24 00:00:00 2025-06-24 00:00:00 127.96

In [4]:
data.to_csv('stock_5y.csv', index=False)